body {
 background-color: #D3D2D8;
 font-family: 'Raleway','Girassol', Arial;
 word-wrap: break-word;
 overflow-wrap: break-word;

}
.Website{
    width: 100%;
    box-sizing: border-box;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    pointer-events: auto;

}
.title-nav-wrapper{
    display: flex;
    flex-wrap: nowrap;
    order: 1;
    flex: 1 0 67%;
    align-items: center;
}



.Title{
    order: 2;
    width: 34%;
    text-align: center;
    flex: 1 1 34%;
}
.header-nav{
    order: 1;
    width: 33%;
    flex: 1 1 33%;
}
.header-nav-list{
    display: inline-flex;
    flex-wrap: wrap;
}
div{
    display: block;
}
.item-menu{
    margin-right: 1.3vw;
}
.title-text{
    font-size: 40px;
    font-size: auto;
    font-weight: bold;
    margin: 0px;



}
.title-text h4 a{
    color: aliceblue;

}

header{
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    line-height: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    pointer-events: none;
}
.actions{
    order: 3;
    width: 33%;

}
.action-social{
    margin: 0;
    display: flex;
    justify-content: flex-end;

}
.icon-fill{
    margin-left: 1vw;
}
.header-iner{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;

}
.selected{
    text-decoration: underline;
}
article{
    display: block;
}
#page{
    z-index: 1;
    display: block;
}
.element{
    display: flex;
    justify-content: center;
    margin-right: 25px;
    margin-left: 25px;

}



.element-Projets{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    /*min-width: 50vh; */
}

section .element .centered h2 {
    padding-bottom: 15px;
}

.presentation{
    font-size: 3vh;
    font-weight: initial;
}
.presentation2{
    font-size: 2vh;
    font-weight: initial;
}
.centered{
    display: flex;
    text-align: center;
    justify-content: center;
}

.centered2 {
    display: flex;
    text-align: center;
    justify-content: center;
    /*
    width: 50vh;
    height: 50vh;
    */

    width: 40vh;
    height: 40vh;

    position: relative;

}
.centeredtextonly{
    display: flex;
    text-align: center;
    width: 40vh;
    height: 40vh;
    position: relative;
}
a{
    color: black;
    text-decoration: none;
}

.gras {
    font-weight: bold;
    color: #252525;
}

a.gras {
    color: #1a1ac0;
}
.bandeau{
    z-index: 2;
    position: absolute;
}

.elementok{
    display: flex;
    justify-content: center;

    min-width: 50vh;

}

.little-article{
    z-index: 1;

    min-height: 100%;
    width: 90%;

}
.little-article h4{
    padding-top: 2vh;
    font-weight: lighter;
    max-width: 100%;
    font-size: 2.2vh;
    

}
.image{ /* Ici, je met mon image au dessus du texte avec Zindex 2, et la rend possible de supperposer avec position absolute */
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;




}

.image a img {
    width: 100%;
    height: 100%;
}



@-webkit-keyframes transition { /* Je créer la transition avec l'opacity, mais en double pour la rendre compatible Firefox et Chrome */
    0%   { opacity: 1; }
    100% { opacity: 0; }
    }
@keyframes transition {
        0%   { opacity: 1; }
        100% { opacity: 0; }
}
.image:hover{ /* Avec :hover, je regarde si la souris passe dessus, si c'est le cas, je lance l'animation (pour firefox et chrome) */

    -webkit-animation: transition 0.2s ;
    animation: transition 0.5s;
    animation-fill-mode: forwards;
}
.align-text{
    display: flex;
    justify-content: center;
}

#menu li a:hover {
    color:#A09FA5;
}
#menu div ul li {
    display:none;
}
#menu div:hover ul li{
    display:block;
    float: none;
}
#menu div ul {
    position:absolute;
}
#Me{
    color: red;
}
.espace-article{
    display: flex;
    justify-content: center;
    margin-right: 25px;
    margin-left: 25px;
}
.backgroundCV{
    background-color: white;

}
.HeaderCV{
    background-color: grey;

}
.langages{
    display: flex;
    justify-content: center;
    min-width: 50vh;

}





.images-Cours{
    margin-left: -8px;
    margin-right: -8px;
    padding: 0%;
    border: 0px;
}
.fleches-passer{
    position: absolute;
    z-index: 2;
    margin-left: 40%;
    margin-top: 15%;
    height: 200px;

}
.Espace-cards{
    margin-left: 2.5px;
    margin-right: 2.5px;
    height: 500px;

}

.body-Unity {
    background-color: #000000;
    font-family: 'Raleway','Girassol', Arial;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: aliceblue;

   }

.body-Unity h5 {
    font-family: 'Josefin Sans', "Raleway";

}

.body-Unity h1 {
  font-family: 'Montserrat', "Raleway";
  font-weight: 200;


}
.body-Unity a {
    color: aliceblue;


}

.body-Unity .TitlesCours {
  text-decoration: underline;
  font-weight: bold;
  font-size: 4vh;

}

 .body-Scratch {
     background-color: #4b96ff;
     font-family: 'Raleway','Girassol', Arial;
     word-wrap: break-word;
     overflow-wrap: break-word;
     color: aliceblue;

  }

.body-Scratch h5 {
      font-family: 'Josefin Sans', "Raleway";

}

.body-Scratch h1 {
    font-family: 'Montserrat', "Raleway";
    font-weight: 200;


}

.body-Scratch .TitlesCours {
    text-decoration: underline;
    font-weight: bold;
    font-size: 4vh;

}




.titles-cat {
    font-size : 50px;
}

.body-Scratch a {
    color: aliceblue;


}

   .body-Unity .burger div {

    background-color: rgb(230, 230, 230);

}

.body-Unity a {
    color: aliceblue;

}

   .centered-article{
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 30%;
       /*line-height: 25px;*/
       text-align: left;
       font-size: 25px;
   }

   .centered-article2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    /*line-height: 25px;*/
    text-align: left;
    font-size: 25px;
}

.centered-article3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;
    /*line-height: 25px;*/
    text-align: left;
    font-size: 25px;
}

.lefted{
    display: flex;
    text-align: left;
    justify-content: left;
    margin-left: 100px;

}
.righted{
    display: flex;
    text-align: right;
    justify-content: right;
    margin-left: 100px;
    font-size: 25px;

}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;

    font-family: "Raleway", sans-serif;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}



.nav-links li {

    text-decoration: none;

    font-weight: bold;
    font-size: 14px;
    font-family: "Montserrat", "Raleway", "sans-serif";
    padding-right: 5px;
    padding-left: 5px;


}
.nav-links li a {
    color: aliceblue;
    font-size: 2.5vh;

}

.burger {
    display: none;




}


.burger div {
    width: 35px;
    height: 4px;
    border-radius: 8px;

    background-color: aliceblue;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1725px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        left: 0px;
        height: 92vh;
        /*height: -webkit-fill-available;*/
        height: calc(var(--vh, 1vh) * 92);
        top: 8vh;
        background-color: #272727;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }



    .nav-links li {
        opacity: 0;
        color: white;
    }

    .nav-links li a{

        color: white;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

    }

}


@media (max-width: 65em) { /* Je regarde si la résolution est trop petite pour l'écran */
    .langages {
        display: block;
      }

      body {
        overflow-x: hidden;
    }

    .espace-article {
        margin: 0;
    }

    .nav-links {

        position: fixed;
        left: 0px;
        height: 92vh;
        /*height: -webkit-fill-available;*/
        height: calc(var(--vh, 1vh) * 92);
        top: 8vh;
        background-color: #272727;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }



    .nav-links li {
        opacity: 0;
        color: white;
    }

    .nav-links li a{

        color: white;
    }



    .cardsOK .centered {
        display: block;
    }





    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
    }



    .element-Projets {
        display: block;
    }

    .element-Projets div {
        padding-bottom: 20px;
    }

    .element-Projets {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .elementok{
        margin: 0px;
    }

    .Espace-cards{
        height: 60vh;

    }

    .element-Projets {
        margin-left: auto;
        margin-right: auto;
        width: 40vh;
    }



}

h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0;
}



.Front-panel p{
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 0;
   
}

.svg{
  
    width: 5%;
    margin: -1rem 0 1rem -2rem;
    fill: green;
}

.svg-in-text {
    width : 3vh;
    margin: 0;
    vertical-align: -8%;
    vertical-align: middle;
}


.card {
    background-color: #f4f5f7;
    border: 0;
    border-radius: 0;
    
}

.card div {
    
    border: 0;
    
    border-radius: 0;
    
}

.card .Front-panel {
    border-left: #135a91 5px solid;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

button {
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    border: none;
    font-size: 1.5rem;
    line-height: 1.5rem;
    min-height: 2.5rem;
    padding: 1rem 1.5rem;
    outline-offset: 2px;
    outline-width: 2px;
    margin-top: 1rem;
}

button:hover {
    opacity: 80%;
}

.b2 {
    border-radius: 1rem;
    
}
.Button-clair {
    background-color: #000091;
    color: white;
    
}

.nocontoures-clair {
    background-color: white;
    color: #000091;
    border: 2px solid;
}
.Button-noir {
    background-color: #606084;
    color: white;

    
}

.nocontoures-noir {
    background-color: white;
    color: #606084;
    border: 2px solid;
}

.Button-neutre {
    background-color: #cfcece;
    color: #7c736f;

    
}
.nocontoures-neutre {
    background-color: white;
    color: #7c736f;
    border: 2px solid;
}

.Button-dark {
    background-color: #383838;
    color: white;

    
}
.nocontoures-dark {
    background-color: white;
    color: #1e1e1e;
    border: 2px solid;
}

.Button-dark2 {
    background-color: #1e1e1e;
    color: white;

    
}
.nocontoures-dark2 {
    /*background-color: white; */
    color: #1e1e1e;
    border: 2px solid;
}

.download {
    background-color: #2ecc71;
    color: white;
    

}

button img {
    height: 2rem;
    vertical-align: middle;
    font-weight: bold;
}



.card {
    width: 75%;
    padding: 10px;
    background-color: #f4f5f7;
    border: 0;
    border-radius: 0;
    display: block;
    margin: 10px;

}

.card div {
    border: 0;
    border-radius: 0;
}

.details {
    
    text-align: left;
    font-size: 1.25rem;
}

.card .details {
    color: #a0a0a0;
}

.card p{
   color : #3d3d3d
}
.card .represent {
    width: 100%;
}


.hori {
    display: flex;
}

.cool-div {
    width: fit-content;
    padding: 10px;
    
    text-align: left;
    display: block;
    margin: 10px;
}
 h4 {
     line-height: 1.2;
    }


@media only screen and (hover: none) and (pointer: coarse){ /* Je change la forme de la page si c'est une tablette ou un smartphone */

    .element-Projets {
        margin-left: auto;
        margin-right: auto;
        width: 40vh;
        display: block;
    }
    .centered2 {
        margin-bottom: 20px;
        
    }
    .details {
        font-size: 1.5vh;
    }
    .card {
        width: 100%;
    }
    h4 {
        font-size: 2vh;
        line-height: 1.5;
        margin-top: 0;
    }
    
    .svg-in-text {
        width: 2vh;
        vertical-align: middle;
    }
    
    
    .Front-panel p{
        font-size: 2vh;
        line-height: 1.5;
        margin: 0;
        
       
    }

    button {
        font-size: 2vh;
        min-height: 2.5vh;
        line-height: 1.5;
    }

    .action-social a img {
        width: 90%;
    }

    .langages {
        display: block;
      }

      body {
        overflow-x: hidden;
    }

    .nav-links {

        position: fixed;
        left: 0px;
        height: 92vh;
        /*height: -webkit-fill-available;*/
        height: calc(var(--vh, 1vh) * 92);
        top: 8vh;
        background-color: #272727;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }



    .nav-links li {
        opacity: 0;
        color: white;
    }

    .nav-links li a{
        font-size: 2.5vh;

        color: white;
    }









    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;

    }
    .elementok{
        margin: 0px;
    }
    .Espace-cards{
        height: 60vh;

    }

    .body-Scratch .sub {
        font-size: 1.5vh;
    }
    .body-Scratch h1 {
        font-size: 2vh;
    }
    .body-Scratch .titles-cat {
        font-size: 4vh;
    }
    .body-Scratch h3 {
        font-size: 2vh;
    }
    .body-Scratch p img {
        width: 100%;
    }

    .body-Scratch .btn{
        font-size: 2vh;
    }
    .body-Scratch .btn img {
        height: 1.5vh;
        padding-right: 20px;
    }
    .body-Scratch .TitlesCours {
        font-size: 3vh;
    
    }
    .body-Scratch #revenir {
        margin-top: 300px;
    
    }

    .body-Unity .sub {
        font-size: 1.5vh;
    }
    .body-Unity h1 {
        font-size: 2vh;
    }
    .body-Unity .titles-cat {
        font-size: 4vh;
    }
    .body-Unity h3 {
        font-size: 2vh;
    }
    .body-Unity p img {
        width: 100%;
    }

    .body-Unity .btn{
        font-size: 2vh;
    }
    .body-Unity .btn img {
        height: 1.5vh;
        padding-right: 20px;
    }
    .body-Unity .TitlesCours {
        font-size: 3vh;
    
    }
    .body-Unity #revenir {
        margin-top: 300px;
    
    }
    

    




}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-13.5px, 6px);
    background-color: #f8767a;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-13.5px, -6px);
    background-color: #f8767a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    z-index: 99;
}

.coolHeader{
    background-color: #212122;
    opacity: 90%;




    /*border-bottom: #272727 solid 1px*/;

}

article {
    margin-left: 8px;
    margin-right: 8px;
}

section {
    text-align: center;
}

section div h3 {
    padding-top: 10px;
}

/* Boutons */

.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 3vh;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    font-family: "Montserrat";
  }

  .body-Scratch .btn img {
    height: 1.5vh;
    padding-right: 20px;
}

.body-Unity .btn img {
    height: 1.5vh;
    padding-right: 20px;
}

  .blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
  }
  .blue:hover {
    background-color: #6FC6FF;
  }
  .green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
  }
  
  .green:hover {
    background-color: #48E68B;
  }
  .red {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
  }
  
  .red:hover {
    background-color: #FF6656;
  }
  
  .purple {
    background-color: #9b59b6;
    box-shadow: 0px 5px 0px 0px #82409D;
  }
  
  .purple:hover {
    background-color: #B573D0;
  }
  
  .orange {
    background-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #CD6509;
  }
  
  .orange:hover {
    background-color: #FF983C;
  }
  
  .yellow {
    background-color: #f1c40f;
    box-shadow: 0px 5px 0px 0px #D8AB00;
  }
  
  .yellow:hover {
    background-color: #FFDE29;
  }

.TitlesCours {
    text-decoration: underline;
    font-weight: bold;
    font-size: 4vh;

}


#revenir {
    margin-top: 200px;

}

.bouton{
    font-family:  'Montserrat';
    font-weight: bold;
    border-radius: 5px;
    padding: 15px 25px;
    border: 2px solid rgb(97, 99, 97);
    font-size: 3vh;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

   
    
}

.bouton:hover{
    border-color: rgb(228, 123, 105);
    color : rgb(228, 123, 105);
}

.bouton sup{
    font-size: 1.5vh;
    
   
    
}

.classe {
    width: 100%;
    font-size: 3vh;
    font-weight: initial;
    background-color: #c4c4c5;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid rgb(97, 99, 97);
    margin-bottom: 10px;
    

}

.sendemail {
    width: 100%;
    font-size: 3vh;
    font-weight: initial;
    background-color: #c4c4c5;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid rgb(97, 99, 97);
    margin-bottom: 10px;
    

}

.classe h1{
    margin-bottom: 25px;
    
}

.sendemail h2{
    
    font-size: 2vh;
    font-family: 'Montserrat';
    
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: #f44336;
  }

  .alert .closebtn:hover{
    color: black;
  }


#offres {
    display: none;
}
.utitle {
    width: 100%;
    padding : 10px;
    background-color: rgb(97, 99, 97);
    color: white;
    font-size: 3vh;
}


.formed {
    padding-top: 25px;
}

.formed label {
    width: 100%;
    font-family: 'Lato';
}

.formed input {
    width: 100%;
    font-family: 'Lato';
    font-weight: bold;
    border: 0px;
    border-bottom: 2px solid rgb(97, 99, 97);
    background: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 2vh;
    

}

.formed select {
    width: auto;
    font-family: 'Lato';
    font-weight: bold;
    border: 0px;
    border-bottom: 2px solid rgb(97, 99, 97);
    background: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 2vh;
    

}

.formed textarea {
    resize: none;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    font-family: 'Lato';
    font-weight: bold;
    border: 0px;
    border-bottom: 2px solid rgb(97, 99, 97);
    background: none;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 2vh;
    

}


@-webkit-keyframes gocolorup { 
    0%   { border-color: rgb(97, 99, 97); }
    100% { border-color: #05d49c; }

}
@keyframes gocolorup {
    0%   { border-color: rgb(97, 99, 97); }
    100% { border-color: #05d49c; }

}

.formed input:focus {
    /*border-color: #f44336;*/
    outline :none;
    -webkit-animation: gocolorup 0.2s ;
    animation: gocolorup 0.5s;
    animation-fill-mode: forwards;

}

.formed select:focus {
    /*border-color: #f44336;*/
    outline :none;
    -webkit-animation: gocolorup 0.2s ;
    animation: gocolorup 0.5s;
    animation-fill-mode: forwards;

}

.formed textarea:focus {
    /*border-color: #f44336;*/
    outline :none;
    -webkit-animation: gocolorup 0.2s ;
    animation: gocolorup 0.5s;
    animation-fill-mode: forwards;

}



#submit {
    border: 2px solid #05d49c;
    border-radius: 50px;
    background-color: #05d49c;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    width: auto;
}

#form {
    display: none;
}



.Front-panel {
    background-color: #f0f0f0;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    border-radius: 0;
    border-left: #000091 5px solid;
    padding: 2rem 3rem;
    text-align: left;
    
    margin: 0;
    margin-top: 10px;
    
}

.italique {
    font-style: italic;
}


.upscale {
    transition:transform 0.25s ease;
    cursor: pointer;
}




.upscale:active {
    /*-webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.75);
}

.discord {
    width: 50%;
    background-color: #323439;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-left: 10px;

    
}

.discord img {
    height: 50px;
    border-radius: 1rem;
}

.discord h6 {
    color: #9b9ea1;
    font-size: 3vh;
    text-transform: uppercase;
}





